<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <img width="105" height="159" src="{{ '/assets/ptak.png' | relative_url }}" alt="May :)" class="footer-logo">
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
        <ul class="social-media-list">
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
            <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="footer-col footer-col-3">
        <h2><a href="https://mayngo.substack.com/">Subscribe to my newsletter!</a></h2>
        <iframe src="https://mayngo.substack.com/embed" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
      </div>
      
    </div>

  </div>

</footer>
